// Menu Item
.menu-list {
    width: 224px;
    .menu-item {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        width: 100%;
        font-weight: 600;
        padding: 11px 18px;
        border-radius: 0;
        line-height: 1.8rem;
        height: 42px;
        &:hover {
            background: var(--bg-hover);
        }
        &.separata {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}
// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    background: transparent;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
